body{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr  1fr 1fr;
  margin: 10px 200px;
  text-align:center;
  grid-column-gap: 5px;
 justify-content:center;
 align-items:center;
}
div{
  border:1px solid red;
  /* height: 100vh; */
}